.App {
  text-align: center;
  background-color:rgb(2, 31, 11);
  height: 200vh;
  margin:0 auto;

}

header{
  height:200px;
}
button{
  margin:auto;
  text-align:center;
  width:20em;
  height:10em;
}

#main-div{
  
  display:grid;
  grid-template-columns: 1fr 1fr;
  width: 60%;
  background-color: rgb(206, 202, 79);
  height:auto;
  margin:auto;

}


